ul{
  list-style: none;
}

.button {
  background: #1F80FF;
  border-width: 1px;
  border-color: #1F80FF;
  color: white;
  border-radius: 2px;
}

.button:hover {
  background: white;
  color: #1F80FF;
  border-width: 1px;
  border-color: #1F80FF;
  -webkit-transition: background 1s;
  
}
